<%= form_with(model: image, html: { multipart: true  }) do |form| %>
      <div class="mb-3 col-4">
        <% if image.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

            <ul>
              <% image.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :picture, style: "display: block" %>
        <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "btn btn-sm btn-light" %>
      </div>
      <%= form.submit class: "btn btn-primary" %>
<% end %>
